
<div class="row-fluid" style="padding: 10px 0;">
    <div class="span12">
        <a href="/" title="zVPS Xen Servers"><img class="pull-left" style="padding-left: 10px;" src="/img/zvps-icon.png" title="" alt="" width="65px" height="65px"></a>
        <br>
        <div class="pull-right">
            <a class="btn btn-danger" style="margin-top: 5px;" href="https://zvps.uk" title="zVPS European Xen Servers"><i class="icon-hdd icon-white"></i> zVPS</a>
            <a class="btn btn-vk" style="margin-top: 5px;"  href="http://red.zvps.co.uk/projects/zvps-design/wiki" title="zVPS Wiki"><i class="icon-info-sign icon-white"></i> Wiki</a>
            {% if site.twitter_username %}<a class="btn btn-twitter" style="margin-top: 5px;" href="https://twitter.com/{{ site.twitter_username }}" title="zVPS Twitter - Follow for updates"><i class="icon-twitter icon-white"></i> Twitter</a>{% endif %}
            {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" style="margin-top: 5px;" class="btn btn-github"><i class="icon-github-alt"></i> GitHub</a>{% endif %}
            <a class="btn btn-google-plus" href="https://plus.google.com/+ZvpsCoUk" style="margin-top: 5px;" title="zVPS Google+ - Add us to your circles"><i class="icon-google-plus-sign icon-white"></i> Google+</a>
        </div>
    </div>
</div>