<div class="navbar">
    <div class="navbar-inner">
        <div class="container">

            <a class="brand" href="/" title="zVPS Blog">zVPS Blog</a>


            <div class="pull-right" style="padding: 0px; margin: 0px;">
                <a class="btn btn-navbar pull-right" title="Expand Navigation Menu" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
            </div>

            
            <div class="nav-collapse collapse">
                <ul class="nav">
                    
                    <li><a href="/" title="Home"><i class="icon-home"></i> Home</a></li>
                    
                    {% for page in site.pages %}
                        {% if page.title %}<li><a href="{{ page.url | prepend: site.baseurl }}"><i class="{{ page.icon }}"></i> {{ page.title }}</a></li>{% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

