---
layout: default
title: Categories
permalink: /categories/
icon: icon-list
---

<div class="row-fluid">
    <div class="span12 padded">
        <h1>{{ page.title | capitalize }}</h1>
        <hr>
    </div>
</div>

<div class="row-fluid">
    <div class="span2 padded">
        <ul class="nav nav-tabs nav-stacked">
            {% assign tags_list = site.categories %}  
            {% if tags_list.first[0] == null %}
                {% for tag in tags_list %} 
                    <li><a href="#{{ tag }}">{{ tag | capitalize }} with <span>{{ site.tags[tag].size }}</span> post{% if site.tags[tag].size != 1 && site.tags[tag].size != 0 %}s{% endif %}.</a></li>
                {% endfor %}
            {% else %}
                {% for tag in tags_list %} 
                    <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }} with <span>{{ tag[1].size }}</span> post{% if tag[1].size != 1 && tag[1].size != 0 %}s{% endif %}.</a></li>
                {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
        </ul>
    </div>
    <div class="span10 padded">
        {% for tag in site.categories %} 
        <h2 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h2>
        <ul class="post-list">
            {% assign pages_list = tag[1] %}  
                {% for post in pages_list %}
                    {% if post.title != null %}
                        {% if group == null or group == post.group %}
                            <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
        </ul>
        {% endfor %}
    </div>    
</div>
