<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="container-fluid">

            <div class="row-fluid">
                <div class="span12">
                    <!-- Title Start -->
                    {% include header.html %}
                    <!-- Title End -->
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    {% include nav.html %}
                </div>
            </div>

            <div class="background-fill row-fluid">
                <div class="span12">
                    {{ content }}
                    <hr>
                    <div style="text-align: center;"><p><i class="icon-rss"></i> subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></div>
                </div>
            </div>
            
            <div class="row-fluid background-fill" style="margin-top: 20px;">
                <div class="span12">
                    {% include footer.html %}
                </div>
            </div>

            <div class="row-fluid"><div class="span12">&nbsp;</div></div>

        </div>
    </body>
</html>